In [1]:
import pandas as pd
import time,datetime
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']

In [2]:
pd.set_option("max_colwidth",300)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 1000)

In [3]:
data=pd.read_json("./data/DXYArea.json")

In [4]:
data["updateTime"] = pd.to_datetime(data["updateTime"], unit='ms').dt.strftime('%Y-%m-%d, %H:%M:%S')

In [5]:
data["updateTime"] = pd.to_datetime(data["updateTime"])

In [6]:
data.shape

(635995, 40)

In [7]:
data.dtypes

provinceName                            object
currentConfirmedCount                  float64
confirmedCount                           int64
confirmedCountRank                     float64
suspectedCount                         float64
curedCount                               int64
deadCount                                int64
deadCountRank                          float64
deadRate                               float64
deadRateRank                           float64
comment                                 object
locationId                               int64
countryShortCode                        object
countryFullName                         object
incrVo                                  object
yesterdayConfirmedCount                float64
yesterdayLocalConfirmedCount           float64
yesterdayOtherConfirmedCount           float64
yesterdayAsymptomaticCount             float64
highDanger                              object
midDanger                               object
highInDesc                              object
lowInDesc                               object
outDesc                                 object
continentName                           object
countryName                             object
provinceShortName                       object
continentEnglishName                    object
countryEnglishName                      object
provinceEnglishName                     object
updateTime                      datetime64[ns]
highDangerCount                        float64
midDangerCount                         float64
detectOrgCount                         float64
vaccinationOrgCount                    float64
dangerAreas                             object
cities                                  object
createTime                             float64
modifyTime                             float64
cityName                                object
dtype: object

In [8]:
data.head()

,provinceName,currentConfirmedCount,confirmedCount,confirmedCountRank,suspectedCount,curedCount,deadCount,deadCountRank,deadRate,deadRateRank,comment,locationId,countryShortCode,countryFullName,incrVo,yesterdayConfirmedCount,yesterdayLocalConfirmedCount,yesterdayOtherConfirmedCount,yesterdayAsymptomaticCount,highDanger,midDanger,highInDesc,lowInDesc,outDesc,continentName,countryName,provinceShortName,continentEnglishName,countryEnglishName,provinceEnglishName,updateTime,highDangerCount,midDangerCount,detectOrgCount,vaccinationOrgCount,dangerAreas,cities,createTime,modifyTime,cityName
0,美国,686751.0,83390652,1.0,0.0,81701524,1002377,1.0,1.20,91.0,,971002,USA,United States of America,"{'currentConfirmedIncr': 39668, 'confirmedIncr': 109249, 'curedIncr': 69377, 'deadIncr': 204}",2.147384e+09,2.147384e+09,2.147384e+09,2.147384e+09,,,,,,北美洲,美国,美国,North America,United States of America,United States of America,2022-05-24 09:20:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,泰国,43771.0,4415593,25.0,0.0,4342047,29775,33.0,0.67,148.0,,952010,THA,Thailand,"{'currentConfirmedIncr': -3165, 'confirmedIncr': 4099, 'curedIncr': 7235, 'deadIncr': 29}",2.147384e+09,2.147384e+09,2.147384e+09,2.147384e+09,,,,,,亚洲,泰国,泰国,Asia,Thailand,Thailand,2022-05-24 09:20:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,北马其顿,357.0,311199,99.0,0.0,301545,9297,65.0,2.98,17.0,,0,MKD,North Macedonia,"{'currentConfirmedIncr': -928, 'confirmedIncr': 86, 'curedIncr': 1013, 'deadIncr': 1}",2.147384e+09,2.147384e+09,2.147384e+09,2.147384e+09,,,,,,欧洲,北马其顿,北马其顿,Europe,North Macedonia,North Macedonia,2022-05-24 09:20:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,北京市,592.0,3209,NaN,164.0,2608,9,NaN,NaN,NaN,北京卫健委未明确大部分治愈与死亡病例的分区归属，因此北京市下辖分区的现存确诊暂无法获取。,110000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,亚洲,中国,北京,Asia,China,Beijing,2022-05-24 09:05:27,9.0,23.0,300.0,2.0,"[{'cityName': '房山区', 'areaName': '拱辰街道世茂维拉社区', 'dangerLevel': 1}, {'cityName': '房山区', 'areaName': '韩村河镇五侯村', 'dangerLevel': 1}, {'cityName': '房山区', 'areaName': '石楼镇石楼村', 'dangerLevel': 1}, {'cityName': '房山区', 'areaName': '阎村镇北京理工大学房山分校', 'dangerLevel': 1}, {'cityName': '房山区', 'areaName': '阎村镇大紫草坞村', 'dangerLevel': 1}, {'cityName': '房山区', 'areaName': '长阳镇韵达快递长阳分部', 'dangerLevel': 1}, {'cityName': '朝阳区', 'areaName': '南磨房乡南新园社区', 'dangerLevel': 1}, {'cityName': '朝阳区', 'areaName': '十八里店乡周家庄村', 'dangerLevel': 1}, {'cityName': '海淀区', 'areaName': '北太平庄街道金晖远洋社区远洋风景小区', 'dangerLevel': 1}, {'cityName': '房山区', 'areaName': '窦店镇窦店产业园', 'dangerLevel': 2}, {'cityName': '房山区', 'areaName': '窦店镇沁园春景社区', 'dangerLevel': 2}, {'cityName': '房山区', 'areaName': '窦店镇苏村', 'dangerLevel': 2}, {'cityName': '房山区', 'areaName': '窦店镇下坡店村', 'dangerLevel': 2}, {'cityName': '房山区', 'areaName': '琉璃河镇滨水雅园小区西区', 'dangerLevel': 2}, {'cityName': '房山区', 'areaName': '琉璃河镇祖村', 'dangerLevel': 2}, {'cityName': '房山区', 'areaName': ...","[{'cityName': '朝阳区', 'currentConfirmedCount': 423, 'confirmedCount': 503, 'suspectedCount': 0, 'curedCount': 80, 'deadCount': 0, 'highDangerCount': 2, 'midDangerCount': 5, 'locationId': 110105, 'currentConfirmedCountStr': '423', 'cityEnglishName': 'Chaoyang District'}, {'cityName': '丰台区', 'currentConfirmedCount': 339, 'confirmedCount': 625, 'suspectedCount': 0, 'curedCount': 286, 'deadCount': 0, 'highDangerCount': 0, 'midDangerCount': 1, 'locationId': 110106, 'currentConfirmedCountStr': '339', 'cityEnglishName': 'Fengtai District'}, {'cityName': '房山区', 'currentConfirmedCount': 303, 'confirmedCount': 323, 'suspectedCount': 0, 'curedCount': 20, 'deadCount': 0, 'highDangerCount': 6, 'midDangerCount': 12, 'locationId': 110111, 'notShowCurrentConfirmedCount': True, 'currentConfirmedCountStr': '-', 'cityEnglishName': 'Fangshan District'}, {'cityName': '境外输入', 'currentConfirmedCount': 244, 'confirmedCount': 716, 'suspectedCount': 3, 'curedCount': 472, 'deadCount': 0, 'highDangerCount': 0,...",NaN,NaN,NaN
4,台湾,1453799.0,1469019,NaN,485.0,13742,1478,NaN,NaN,NaN,,710000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,亚洲,中国,台湾,Asia,China,Taiwan,2022-05-24 09:00:30,0.0,0.0,0.0,0.0,[],[],NaN,NaN,NaN

In [9]:
data=data[["continentName","countryName","provinceName","currentConfirmedCount","confirmedCount","suspectedCount","curedCount",
              "deadCount","updateTime"]]
data

       continentName countryName provinceName  currentConfirmedCount  confirmedCount  suspectedCount  curedCount  deadCount          updateTime
0                北美洲          美国           美国               686751.0        83390652             0.0    81701524    1002377 2022-05-24 09:20:29
1                 亚洲          泰国           泰国                43771.0         4415593             0.0     4342047      29775 2022-05-24 09:20:29
2                 欧洲        北马其顿         北马其顿                  357.0          311199             0.0      301545       9297 2022-05-24 09:20:29
3                 亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 09:05:27
4                 亚洲          中国           台湾              1453799.0         1469019           485.0       13742       1478 2022-05-24 09:00:30
...              ...         ...          ...                    ...             ...             ...         ...        ...                 ...
635990            亚洲          中国          辽宁省                    NaN               0             1.0           0          0 2020-01-21 19:28:10
635991            亚洲          中国           台湾                    NaN               1             0.0           0          0 2020-01-21 19:28:10
635992            亚洲          中国           香港                    NaN               0           117.0           0          0 2020-01-21 19:28:10
635993            亚洲          中国         黑龙江省                    NaN               0             1.0           0          0 2020-01-21 19:28:10
635994            亚洲          中国          湖南省                    NaN               1             0.0           0          0 2020-01-21 19:28:10

[635995 rows x 9 columns]

In [10]:
data=data.dropna()
data

       continentName countryName provinceName  currentConfirmedCount  confirmedCount  suspectedCount  curedCount  deadCount          updateTime
0                北美洲          美国           美国               686751.0        83390652             0.0    81701524    1002377 2022-05-24 09:20:29
1                 亚洲          泰国           泰国                43771.0         4415593             0.0     4342047      29775 2022-05-24 09:20:29
2                 欧洲        北马其顿         北马其顿                  357.0          311199             0.0      301545       9297 2022-05-24 09:20:29
3                 亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 09:05:27
4                 亚洲          中国           台湾              1453799.0         1469019           485.0       13742       1478 2022-05-24 09:00:30
...              ...         ...          ...                    ...             ...             ...         ...        ...                 ...
632821            亚洲         柬埔寨          柬埔寨                    0.0               1             0.0           1          0 2020-02-12 16:19:12
632822            亚洲        斯里兰卡         斯里兰卡                    1.0               1             0.0           0          0 2020-02-12 16:19:12
632823            欧洲          芬兰           芬兰                    0.0               1             0.0           1          0 2020-02-12 16:19:12
632824            欧洲          瑞典           瑞典                    1.0               1             0.0           0          0 2020-02-12 16:19:12
632825            欧洲         比利时          比利时                    1.0               1             0.0           0          0 2020-02-12 16:19:12

[632826 rows x 9 columns]

In [11]:
#根据时间进行去重，也就是每天每个国家只保留一条数据
#keep='first'表示保留第一次出现的重复行
data.drop_duplicates(subset=['provinceName','updateTime'],keep='first',inplace=True)

D:\Anaconda\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [12]:
data

       continentName countryName provinceName  currentConfirmedCount  confirmedCount  suspectedCount  curedCount  deadCount          updateTime
0                北美洲          美国           美国               686751.0        83390652             0.0    81701524    1002377 2022-05-24 09:20:29
1                 亚洲          泰国           泰国                43771.0         4415593             0.0     4342047      29775 2022-05-24 09:20:29
2                 欧洲        北马其顿         北马其顿                  357.0          311199             0.0      301545       9297 2022-05-24 09:20:29
3                 亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 09:05:27
4                 亚洲          中国           台湾              1453799.0         1469019           485.0       13742       1478 2022-05-24 09:00:30
...              ...         ...          ...                    ...             ...             ...         ...        ...                 ...
632821            亚洲         柬埔寨          柬埔寨                    0.0               1             0.0           1          0 2020-02-12 16:19:12
632822            亚洲        斯里兰卡         斯里兰卡                    1.0               1             0.0           0          0 2020-02-12 16:19:12
632823            欧洲          芬兰           芬兰                    0.0               1             0.0           1          0 2020-02-12 16:19:12
632824            欧洲          瑞典           瑞典                    1.0               1             0.0           0          0 2020-02-12 16:19:12
632825            欧洲         比利时          比利时                    1.0               1             0.0           0          0 2020-02-12 16:19:12

[626328 rows x 9 columns]

In [13]:
data.isnull().sum()

continentName            0
countryName              0
provinceName             0
currentConfirmedCount    0
confirmedCount           0
suspectedCount           0
curedCount               0
deadCount                0
updateTime               0
dtype: int64

In [30]:
data[(data["countryName"]=="中国") & (data["updateTime"].dt.year==2022) & (data["updateTime"].dt.month==5)& (data["updateTime"].dt.day==24)].groupby("provinceName").apply(lambda x:x[:])

    continentName countryName provinceName  currentConfirmedCount  confirmedCount  suspectedCount  curedCount  deadCount          updateTime
3              亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 09:05:27
4              亚洲          中国           台湾              1453799.0         1469019           485.0       13742       1478 2022-05-24 09:00:30
7              亚洲          中国           中国              1718421.0         2024619             0.0      290126      16072 2022-05-24 09:00:30
136            亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 03:32:27
137            亚洲          中国          上海市                 1834.0           62774           393.0       60347        593 2022-05-24 03:05:21
138            亚洲          中国          天津市                  129.0            1933            50.0        1801          3 2022-05-24 02:58:19
249            亚洲          中国          重庆市                    5.0             709            15.0         698          6 2022-05-24 02:43:07
360            亚洲          中国          浙江省                  578.0            3136            68.0        2557          1 2022-05-24 02:29:19
361            亚洲          中国          天津市                  123.0            1927            50.0        1801          3 2022-05-24 02:29:19
362            亚洲          中国          青海省                   12.0             147             0.0         135          0 2022-05-24 02:29:19
363            亚洲          中国           中国              1636084.0         1942240             0.0      290126      16030 2022-05-24 02:29:19
364            亚洲          中国          吉林省                   92.0           40285            19.0       40188          5 2022-05-24 02:25:32
365            亚洲          中国           中国              1636089.0         1942240             0.0      290121      16030 2022-05-24 02:25:32
366            亚洲          中国          江苏省                    8.0            2223             3.0        2215          0 2022-05-24 02:21:30
367            亚洲          中国          辽宁省                    6.0            1673             0.0        1665          2 2022-05-24 02:21:30
368            亚洲          中国           香港               260735.0          332030           181.0       61925       9370 2022-05-24 02:06:13
369            亚洲          中国           中国              1636102.0         1942240             0.0      290108      16030 2022-05-24 02:06:13
370            亚洲          中国          四川省                  231.0            2304            22.0        2070          3 2022-05-24 02:03:25
371            亚洲          中国          河南省                  142.0            3163             1.0        2999         22 2022-05-24 02:03:25
386            亚洲          中国           中国              1636128.0         1942240             0.0      290082      16030 2022-05-24 02:03:25
531            亚洲          中国      广西壮族自治区                   14.0            1619             0.0        1603          2 2022-05-24 01:59:27
532            亚洲          中国           中国              1636137.0         1942240             0.0      290073      16030 2022-05-24 01:59:27
533            亚洲          中国          重庆市                    4.0             708            15.0         698          6 2022-05-24 01:58:20
534            亚洲          中国           中国              1636140.0         1942240             0.0      290070      16030 2022-05-24 01:58:20
535            亚洲          中国          上海市                 1835.0           62774           393.0       60347        592 2022-05-24 01:55:28
536            亚洲          中国           中国              1636141.0         1942240             0.0      290069      16030 2022-05-24 01:55:28
537            亚洲          中国           中国              1636153.0         1942240             0.0      290057      16030 2022-05-24 01:28:18
538            亚洲          中国          福建省                  100.0            3193            15.0        3092          1 2022-05-24 01:27:16
539            亚洲          中国           中国              1636153.0         1942240             0.0      290057      16030 2022-05-24 01:27:16
543            亚洲          中国          广东省                   90.0            7282            25.0        7184          8 2022-05-24 01:14:20
544            亚洲          中国          陕西省                    6.0            3283             4.0        3274          3 2022-05-24 01:14:20
545            亚洲          中国           中国              1636386.0         1942096             0.0      289681      16029 2022-05-24 01:14:20
546            亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 01:08:30
547            亚洲          中国           中国              1636395.0         1942090             0.0      289666      16029 2022-05-24 01:08:30
548            亚洲          中国          云南省                   13.0            2136            23.0        2121          2 2022-05-24 00:55:16
549            亚洲          中国          山东省                    6.0            2735            14.0        2722          7 2022-05-24 00:55:16
574            亚洲          中国           中国              1636393.0         1942049             0.0      289627      16029 2022-05-24 00:55:16

In [27]:
data[(data["updateTime"].dt.year==2022)].groupby(["continentName","countryName"]).apply(lambda x:x[:])

      continentName countryName provinceName  currentConfirmedCount  confirmedCount  suspectedCount  curedCount  deadCount          updateTime
0               北美洲          美国           美国               686751.0        83390652             0.0    81701524    1002377 2022-05-24 09:20:29
1                亚洲          泰国           泰国                43771.0         4415593             0.0     4342047      29775 2022-05-24 09:20:29
2                欧洲        北马其顿         北马其顿                  357.0          311199             0.0      301545       9297 2022-05-24 09:20:29
3                亚洲          中国          北京市                  592.0            3209           164.0        2608          9 2022-05-24 09:05:27
4                亚洲          中国           台湾              1453799.0         1469019           485.0       13742       1478 2022-05-24 09:00:30
...             ...         ...          ...                    ...             ...             ...         ...        ...                 ...
80624           北美洲         格陵兰          格陵兰                  233.0            2437             0.0        2203          1 2022-01-01 00:50:21
80625            非洲         冈比亚          冈比亚                  206.0           10136             0.0        9588        342 2022-01-01 00:50:21
80626           北美洲        格林那达         格林那达                  187.0            6009             0.0        5622        200 2022-01-01 00:50:21
80627            欧洲        白俄罗斯         白俄罗斯                  172.0          696220             0.0      690505       5543 2022-01-01 00:50:21
80628            亚洲       塔吉克斯坦        塔吉克斯坦                 -368.0           17493             0.0       16960        901 2022-01-01 00:50:21

[80564 rows x 9 columns]